# Ignorar datos generados y logs
**/*.log
**/*.tmp
**/output/flows/*
**/output/aggregated_flows/*
**/data/*

# Ignorar binarios compilados de C
**/capture/flow_capture_json

# Ignorar archivos temporales de Python y entornos virtuales
**/__pycache__/
**/*.pyc
.venv/
venv/
**/venv/

# Ignorar configuraciones de IDE
.vscode/
.idea/

# Ignorar archivos de sistema
.DS_Store