version: "3.9"

networks:
  tma_net:
    driver: bridge

services:
  # Base so we don't repeat config
  peer-base: &peer-base
    build:
      context: .. # Context is the root of repo
      dockerfile: docker/Dockerfile
    image: tma/peer:latest
    networks: [tma_net]
    cap_add: ["NET_ADMIN", "NET_RAW"]  # To capture packets
    working_dir: /app/src

  peer1:
    <<: *peer-base
    container_name: tma_peer1
    environment:
      - HOSTNAME=peer1
      - TRAFFIC_SEED=101
      - TRAFFIC_RATE=3
    volumes:
      # Store data in root of the repo repo/data/peer1
      - ../data/peer1:/app/src/output

  peer2:
    <<: *peer-base
    container_name: tma_peer2
    environment:
      - HOSTNAME=peer2
      - TRAFFIC_SEED=102
      - TRAFFIC_RATE=5
    volumes:
      - ../data/peer2:/app/src/output

  peer3:
    <<: *peer-base
    container_name: tma_peer3
    environment:
      - HOSTNAME=peer3
      - TRAFFIC_SEED=103
      - TRAFFIC_RATE=1
    volumes:
      - ../data/peer3:/app/src/output

  peer4:
    <<: *peer-base
    container_name: tma_peer4
    environment:
      - HOSTNAME=peer4
      - TRAFFIC_SEED=104
      - TRAFFIC_RATE=2
    volumes:
      - ../data/peer4:/app/src/output

  peer5:
    <<: *peer-base
    container_name: tma_peer5
    environment:
      - HOSTNAME=peer5
      - TRAFFIC_SEED=105
      - TRAFFIC_RATE=4
    volumes:
      - ../data/peer5:/app/src/output